<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:収入="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>家計簿アプリ</title>
</head>
<body>

    <h1>家計簿アプリ</h1>
    <hr>
    <h2 th:text="${today.getMonthValue()+'月'}"></h2>
    <p>収入：<span th:text="${summary.getIncomeTotal()}"></span> </p>
    <p>支出：<span th:text="${summary.getExpenseTotal()}"></span> </p>
    <p>収支合計：<span th:text="${summary.getBalance()}"></span> </p>

<table>
    <tr>
        <td th:each="day : ${days}">
            <a th:href="@{/transactions(date=${day})}"
               th:text="${day.getDayOfMonth()}">
            </a>
        </td>
    </tr>
</table>

    <table border="1">
        <thead>
        <tr>
            <th>日</th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="row : ${#numbers.sequence(0,4)}">
            <td th:each="col : ${#numbers.sequence(0,6)}"
                th:text="${calendar[row*7 + col]}">
            </td>
        </tr>
        </tbody>
    </table>

<a href="/transactions">帳簿一覧へ</a>


</body>
</html>