<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新画面</title>
</head>
<body>
    <h1>更新画面</h1>
    <h2>----更新前----</h2>
            <p>日付:<span th:text="${#temporals.format(transaction.date,'yyyy-MM-dd')}"></span></p>
            <p>金額:<span th:text="${transaction.amount}"></span>円</p>
            <p>カテゴリ:<span th:text="${transaction.category.label}"></span></p>
            <p>メモ:<span th:text="${transaction.memo}"></span></p>
            <p>収支・支出:<span th:text="${transaction.type.label}"></span></p>
    <hr>
    <h2>----更新する内容----</h2>
    <form th:action="@{/transactions/id/{id}(id=${transaction.id})}" th:object="${transaction}" method="post">
        <input type="hidden" th:field="*{id}">
        <p>日付：<input type="date" th:field="*{date}"> </p>
        <p th:errors="*{date}"></p>
        <p>金額：<input type="number" th:field="*{amount}">円</p>
        <p th:errors="*{amount}"></p>
        カテゴリ： <select th:field="*{category}">
        <option value="">選択してください</option>
        <option th:each="cate : ${T(com.example.Kakeibo.Model.Transaction.Category).values()}"
                th:value="${cate}"
                th:text="${cate.label}">
        </option>
    </select>
        <p th:errors="*{category}"></p>
        <p>メモ：<input type="text" th:field="*{memo}"></p>
        <p th:errors="*{memo}"></p>
        収入・支出：<select th:field="*{type}">
        <option value="">選択してください</option>
        <option th:each="typ : ${T(com.example.Kakeibo.Model.Transaction.TransactionType).values()}"
                th:value="${typ}"
                th:text="${typ.label}">
        </option>
    </select>
        <p th:errors="*{type}"></p>
       <p>
           <input type="submit" value="更新">
       </p>
    </form>
</body>
</html>